@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --salmao-mais-claro: #FF6B6B;
    --salmao-claro: #FF6363;
    --salmao-medio: #FF4545;
    --salmao-escuro: #E12727;
    --azul: #0079C6;
    --preto: #191919;
    --branco: #FFFFFF;
    --cinza-claro-fundo: #F8F8F8;
    --cinza-claro-pagina-atual: #EBEBEB;
    --cinza-upload: #C4C4C4;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    list-style: none;
    outline: none;
}

body{
    background: var(--cinza-claro-fundo);
}

div section.pesquisa{
    position: absolute;
    top: 15%;
    width: 85%;
    margin: 0 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div section.pesquisa a{
    background: var(--azul);
    text-align: center;
    color: var(--branco);
    font-weight: 300;
    padding: 0.5% 4%;
    border-radius: 100vh;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

div section.pesquisa a:hover{
    background: var(--cinza-medio);
    color: var(--azul);
}

div section.pesquisa input.checkbox-modal{
    position: absolute;
    width: 180px;
    height: 35px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

div section.pesquisa input:before{
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100vh;
}

div section.pesquisa input:checked ~ div.modal-criar-grupo{
    display: block;
}

div section.pesquisa input:checked{
    position: fixed;
    left: 69%;
    top: 10%;
    z-index: 9999999999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 100vh;
    opacity: 1;
}

div section.pesquisa input:checked:before{
    top: -25%;
    left: -25%;
    content: 'X';
    text-align: center;
    font-size: 2em;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100vh;
    background: white;
    padding: 15px;
}

div section.pesquisa div.modal-criar-grupo{
    position: fixed;
    background: var(--branco);
    z-index: 999999999;
    border-radius: 45px;
    height: 95%;
    width: 50%;
    padding: 2% 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    display: none;
}

div div.modal-criar-grupo form.form-criar-grupo input[type="file"]{
    border-radius: 100vh;
    background: var(--cinza-upload);
    height: 120px;
    width: 120px;
    cursor: pointer;
    position: absolute;
    margin: 1%;
    left: 50%;
    top: 3%;
    transform: translate(-50%, -3%);
}

div div.modal-criar-grupo form.form-criar-grupo input[type="file"]:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100vh;
    background: var(--cinza-upload);
    height: 100%;
    width: 100%;
    cursor: pointer;
}

div div.modal-criar-grupo form.form-criar-grupo div{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -60%);
}

div div.modal-criar-grupo form.form-criar-grupo label textarea{
    border-radius: 10px;
    height: 80px;
    resize: none;
    padding: 1% 2%;
}

div div.modal-criar-grupo form.form-criar-grupo label input, div div.modal-criar-grupo form.form-criar-grupo label textarea{
    position: relative;
    width: 100%;
    margin-bottom: 2%;
    transition: 0.2s;
    border: 1px solid var(--preto);
}

div div.modal-criar-grupo form.form-criar-grupo label input:focus{
    border: 1px solid var(--azul);
}

div div.modal-criar-grupo form.form-criar-grupo input[type="submit"]{
    background: var(--azul);
    color: var(--branco);
    display: block;
    border: none;
    outline: none;
    padding: 2% 10%; 
    border-radius: 8px;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    width: 300px;
}

div div.modal-criar-grupo form.form-criar-grupo input[type="submit"]:hover{
    background: var(--cinza-medio);
    color: var(--azul);
}

div section.pesquisa form label{
    position: relative;
}

div section.pesquisa form label input{
    width: 70vw;
    text-align: left;
    padding: 0.5% 4%;
    border-radius: 100vh;
    border: 2px solid var(--preto);
    outline: none;
    transition: 0.2s;
}

div section.pesquisa form label input:focus{
    border: 2px solid var(--azul);
}

div section.pesquisa form label input:focus ~ i{
    color: var(--azul);
}

div section.pesquisa form label i{
    position: absolute;
    top: 50%;
    left: 1.5%;
    transform: translate(-1.5%, -50%);
    transition: 0.2s;
}

div section.lista-grupos{
    position: absolute;
    top: 24%;
    width: 85%;
    margin: 0 7.5% 5% 7.5%;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    column-gap: 1.25%;
    row-gap: 3.5%;
}

div section.lista-grupos div.card-grupo{
    background: var(--branco);
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

div section.lista-grupos div.card-grupo img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    transition: 0.5s;
}

div section.lista-grupos div.card-grupo h1{
    display: block;
    background: var(--salmao-medio);
    color: var(--branco);
    font-weight: 300;
    padding: 0 5%;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -39%);
    font-size: 20px;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    border-radius:100vh;
}

div section.lista-grupos div.card-grupo div.info-grupo div.tags{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

div section.lista-grupos div.card-grupo div.info-grupo div.tags p{
    background: var(--salmao-claro);
    color: var(--branco);
    font-weight: 300;
    font-size: 0.7em;
    padding: 1% 5%;
    border-radius: 100vh;
    margin: 5% 2% 0 1%;
}

div section.lista-grupos div.card-grupo div.info-grupo div.membros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    margin: 10% 17.5% 0 17.5%;
}

div section.lista-grupos div.card-grupo div.info-grupo div.membros img{
    width: 4vh;
    height: 5vh;
    object-fit: contain;
}

div section.lista-grupos div.card-grupo div.info-grupo div.membros h3{
    font-size: 0.9em;
    font-weight: 500;
    margin-left: 2%;
}

div section.lista-grupos div.card-grupo div.info-grupo a{
    width: 90%;
    background: var(--azul);
    display: block;
    margin: 5%;
    margin-top: 2%;
    color: var(--branco);
    font-weight: 300;
    text-align: center;
    border-radius: 100vh;
    cursor: pointer;
    transition: 0.2s;
}

div section.lista-grupos div.card-grupo div.info-grupo a:hover{
    background: var(--cinza-medio);
    color: var(--azul);
}

/*TELA PEQUENA*/
@media screen and (max-width: 480px){

    div section.pesquisa{
        width: 95%;
        margin: 0 5%;
    }
    
    div section.pesquisa a{
        white-space: nowrap;
    }
    
    div section.pesquisa input.checkbox-modal{
        width: 120px;
    }
    
    div section.pesquisa input:checked{
        position: fixed;
        left: 80%;
        top: 5%;
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    
    div section.pesquisa div.modal-criar-grupo{
        width: 90%;
    }
    
    div section.pesquisa form label input{
        padding: 0.5% 5%;
    }

    div section.pesquisa form label input{
        width: 70vw;
        padding: 0.5% 7%;
    }
    
    div section.lista-grupos{
        width: 90%;
        margin: 0 5% 5% 5%;
        grid-template-columns: 50% 50%;
        row-gap: 1%;
    }
    
    div section.lista-grupos div.card-grupo img{
        height: 90px;
    }
    
    div section.lista-grupos div.card-grupo h1{
        font-size: 17px;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.tags p{
        white-space: nowrap;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.membros{
        width: 75%;
        margin: 10% 12.5% 0 12.5%;
        white-space: nowrap;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.membros img{
        height: 4vh;
    }
}

/*TELA MÉDIA-PEQUENA*/
@media screen and (min-width: 481px) and (max-width: 768px){

    div section.pesquisa{
        width: 90%;
        margin: 0 5%;
    }
    
    div section.pesquisa a{
        white-space: nowrap;
    }
    
    div section.pesquisa input.checkbox-modal{
        width: 140px;
    }
    
    div section.pesquisa input:checked{
        position: fixed;
        left: 85%;
        top: 5%;
        width: 40px;
        height: 40px;
        opacity: 1;
    }
    
    div section.pesquisa div.modal-criar-grupo{
        width: 90%;
    }
    
    div section.pesquisa form label input{
        padding: 0.5% 5%;
    }
    
    div section.lista-grupos{
        width: 90%;
        margin: 0 5% 5% 5%;
        grid-template-columns: 33% 33% 33%;
    }
    
    div section.lista-grupos div.card-grupo img{
        height: 90px;
    }
    
    div section.lista-grupos div.card-grupo h1{
        font-size: 17px;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.tags p{
        white-space: nowrap;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.membros{
        width: 75%;
        margin: 10% 12.5% 0 12.5%;
        white-space: nowrap;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.membros img{
        height: 4vh;
    }
}

/*TELA MÉDIA-GRANDE*/
@media screen and (min-width: 769px) and (max-width: 1199px){
    
    div section.pesquisa a{
        white-space: nowrap;
    }
    
    div section.pesquisa input:checked{
        left: 65%;
    }
    
    div section.pesquisa form label input{
        padding: 0.5% 5%;
    }
    
    div section.lista-grupos{
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
        column-gap: 1.5%;
    }
    
    div section.lista-grupos div.card-grupo img{
        height: 80px;
    }
    
    div section.lista-grupos div.card-grupo h1{
        font-size: 15px;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.tags{
        margin-top: 2%;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.tags p{
        white-space: nowrap;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.membros img{
        width: 4vh;
        height: 4vh;
    }
    
    div section.lista-grupos div.card-grupo div.info-grupo div.membros h3{
        font-size: 0.8em;
        white-space: nowrap;
    }  
}